{
	"presets": ["env", "stage-2", "react"],
	"plugins": [
		["react-hot-loader/babel"],
		["jsx-control-statements"],
		["babel-plugin-styled-components", {
			"ssr": false,
			"displayName": true,
			"fileName": true,
			"minify": false,
			"transpileTemplateLiterals": true,
			"pure": false,
		}],
		["transform-runtime", {
			"helpers": false,
			"polyfill": false,
			"regenerator": true,
			"moduleName": "babel-runtime"
		}],
	],
	"ignore": [
	],
}
